@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .monGivrer {
       @apply bg-white bg-opacity-10 backdrop-blur-md drop-shadow-lg
    }

    .TextXlPlus {
        @apply  text-lgplus xs:text-xlplus md:text-2xl lg:text-2xlplus
    }
    
    .TextXl {
        @apply   text-lg xs:text-xl md:text-xlplus lg:text-2xl xl:text-2xlplus
    }

    .TextLgPlus {
        @apply  text-baseplus xs:text-lgplus md:text-xl lg:text-xlplus xl:text-2xl
    }
    .TextLg {
        @apply  text-base xs:text-lg md:text-lgplus lg:text-xl xl:text-xlplus
    }

    .TextBasePlus{
        @apply  text-base xs:text-baseplus md:text-lg lg:text-lgplus
    }

    .TextBase{
        @apply  text-sm xs:text-base md:text-baseplus lg:text-lg
    }

    .TextSmall{
        @apply  text-xs xs:text-sm md:text-baseplus 
    }
    
    .TextXlSmall{
        @apply  text-xs xs:text-sm md:text-base
    }

    .Grid1x6{
        @apply grid-cols-1 grid-rows-6
    }

    .Grid3x2{
        @apply grid-cols-3 grid-rows-2
    }

    .Grid2x3{
        @apply grid-cols-2 grid-rows-3
    }

    .Grid3x1{
        @apply grid-cols-3 grid-rows-1
    }

    .Grid1x3{
        @apply grid-cols-1 grid-rows-3
    }

    .Grid1x2{
        @apply grid-cols-1  grid-rows-2
    }

    .Grid2x1{
        @apply grid-cols-2  grid-rows-1
    }

    .BoutonMenu{
        @apply bg-action-10 text-white cursor-pointer rounded-xl px-4 py-2 transition border border-red-800 w-full
         hover:shadow-[0px_0px_20px_0px_rgba(255,255,255,1)]  hover:shadow-action-10 hover:scale-95 hover:font-semibold outline-none
         flex flex-row justify-center
    }

    .ProposTexte{
        @apply text-center md:text-left my-2 TextBase  mx-6
    }

}

::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #333333;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #dc2626;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #222222;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
    background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

html {
    @apply font-mono scroll-smooth
}

